<!DOCTYPE html>
<html>
  <head>
    <title>Prediksi skincare</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/prediksi.css')}}"
    />
    <link
      rel="icon"
      href="/static/images/logo-prefer1.png"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-light ">
    <div class="container fw-bold text-lg-start text-secondary">
      <a class="navbar-brand" href="/prediksi" >
        <img
          src="static/images/logo-prefer1.png"
          alt=""
          class="d-inline-block text-lg-start me-3"
        />
        Prediksi Skincare
      </a>
      <!-- tombol back -->
      
      <section id="tombol_back">
        <div class ="back text-black text-decoration-none px-3 py-1 rounded-2 border border-1 ms-3 fs-6 ">
          <a
        href="/"
        class="back text-black text-decoration-none py-1 rounded-2  fs-6 "
        >Back
      </a>
      </div>
        
    </div>
  </nav>
  <!-- End Navbar -->

  <!-- jumbotron -->
  <div class="jumbotron jumbotron-fluid text-left mb-5">
    <div class="container">
      <h1 class="display-4">PreferBot</h1>
      <h2 class="subjudul ">Find Your Ideal Skincare Products for </h2>
      <h2 class="subjudul mb-5 ">Your Skin Type and Condition.</h2>

    </div>
  </div>
  <!-- End jumbotron -->
  
    <section>
        <div class ="container  border border-2 rounded-2 mb-4 mt-5" >
          <div class="row justify-content-center">
            <div class="col-md-6 ">
              <div class="container text-center mt-3 ">
                <h1 class="display-5 mb-3">Form</h1>
                <p class="lead ">Please Provide Information About Your Skin Condition..!</p>
              </div>
              <!-- form-->
              <form id="form_prediksi" method="POST" action="/get/prediksi_skincare">
                <!-- Jenis Kelamin -->
                <label for="Jenis_kelamin" class="form-label mt-5 fw-bolder">Jenis Kelamin</label>
                <div class="shadow  mb-4 border border-2 rounded-2">
                  <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="jenis_kelamin" id="radiolaki" value=1>
                    <label class="form-check-label" for="radiolaki">Laki-laki</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="jenis_kelamin" id="radioperempuan" value=0>
                    <label class="form-check-label" for="radioperempuan">Perempuan</label>
                  </div>
                </div>
                
                <!-- Usia -->
                <label for="usia" class="form-label fw-bolder">Usia</label>
                <div class="shadow  mb-4 border border-2 rounded-2">
                  <input type="number" class="form-control" id="usia" name="usia" placeholder="Masukkan Usia Anda">
                </div>
                
                <!-- Jenis Kulit -->
                <label for="jenis_kulit" class="form-label fw-bolder">Jenis Kulit</label>
                <div class="shadow  mb-4 border border-2 rounded">
                  <select class="form-select" id="jenis_kulit" name="jenis_kulit" aria-label="Default select example">
                    <option selected>Pilih Jenis Kulit</option>
                    <option value=0>Berminyak</option>
                    <option value=1>Kombinasi</option>
                    <option value=2>Normal</option>
                    <option value=3>Kering</option>
                    <option value=4>normal to dry</option>
                    <option value=5>oil to dry</option>
                    <option value=6>berminyak daerah t zone</option>
                    <option value=7>kombinasi and sensitif</option>
                    <option value=8>sensitif</option>
                  </select>
                </div>
                
                <!-- Masalah Kulit -->
                <label for="masalah_kulit" class="form-label fw-bolder">Masalah Kulit</label>
                <div class="shadow  mb-4 border border-2 rounded-2">
                  <select class="form-select" id="masalah_kulit" name="masalah_kulit" aria-label="Default select example">
                    <option selected>Pilih Masalah Kulit Anda</option>
                    <option value=0>Komedo</option>
                    <option value=1>dark spot</option>
                    <option value=2>kusam</option>
                    <option value=3>jerawat</option>
                    <option value=4>beruntusan</option>
                    <option value=5>kerutan</option>
                    <option value=6>dark circle</option>
                    <option value=7>flek hitam</option>
                    <option value=8>milia </option>
                    <option value=9>bekas jerawat </option>
                    <option value=10>mata panda </option>
                  </select>
                </div>
                
                <!-- Produk Yang Digunakan -->
                <label for="produk_digunakan" class="form-label fw-bolder">Produk yang digunakan</label>
                <div class="shadow mb-4 border border-2 rounded-2">
                  <select class="form-select mb-3" id="produk_digunakan" name= "produk_digunakan" aria-label="Default select example">
                    <option selected>Pilih Produk yang Anda Gunakan</option>
                    <option value=0>MsGlow</option>
                    <option value=1>Skintific</option>
                    <option value=2>Acnes</option>
                    <option value=3>Wardah</option>
                    <option value=4>Nivea</option>
                    <option value=5>Avoskin</option>
                    <option value=6>Garnier</option>
                    <option value=7>Hanasui</option>
                    <option value=8>Benings</option>
                    <option value=9>BioAqua</option>
                    <option value=10>Biore</option>
                    <option value=11>Ponds</option>
                    <option value=12>Loreal</option>
                    <option value=13>Scarlett</option>
                    <option value=14>Emina</option>
                    <option value=15>Himalaya</option>
                    <option value=16>Mustika Ratu</option>
                    <option value=17>Cetaphil</option>
                    <option value=18>Clean and Clear</option>
                    <option value=19>Safi</option>
                    <option value=20>WhiteLab</option>
                    <option value=21>Citra</option>
                    <option value=22>Azarine</option>
                    <option value=23>St.Ives</option>
                    <!-- Tambahkan opsi lain sesuai kebutuhan -->
                  </select>
                </div>
                
                <!-- Harga -->
                <label for="harga" class="form-label fw-bolder">Harga Yang Anda Inginkan untuk Skincare Anda</label>
                <div class="shadow mb-4 border border-2 rounded-2">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="harga" id="harga_murah" value=0>
                    <label class="form-check-label" for="harga_murah">Murah (Rp.10.000-Rp.100.000)</label>
                  </div>
                  
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="harga" id="harga_sedang" value=1>
                    <label class="form-check-label" for="harga_sedang">Sedang (Rp.100.000-Rp.500.000)</label>
                  </div>
                  
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="harga" id="harga_mahal" value=2>
                    <label class="form-check-label" for="harga_mahal">Mahal (Lebih dari Rp.500.000)</label>
                  </div>
                </div>
                <!-- end form-->
                
                <!-- tombol-->
                <button class="button border-0 mb-4 mt-5">
                  <input
                  type="submit"
                  id = "prediksi_submit"
                  class="mx-auto  text-black fw-bolder "
                  />
                </button>
              </div>
            </div>
          </div>
        </form>

        <!-- Menampilkan Hasil -->
        <div class="prediction mt-5"   >
          <h2 class="prediction-label text-center" >Jenis Skincare yang cocok adalah </h2>
          <h2 class="prediction-text text-centerid=" >{{ hasil_prediksi }}</h2>
          <br>
          <h2 class="prediction-label text-center" >dari </h2>
          <h2 class="prediction-text text-center">{{ produk_digunakan}}</h2>
          <br>
          <img class= "justify-content-center mb-5"  src = {{gambar_prediksi}} alt="gambar_prediksi" widht="200" height="400"></img>
        </div>
        
        
</body>
</html>




