* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  background: #f2f2f2;
}

/* Navbar */
.navbar {
  height: 70px;
  
}

.container {
  width: 100%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-brand img {
  max-height: 50px;
}

@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    padding: 20px;
  }
}

/* Home */
.home {
  height: 100vh;
  width: 100%;
  position: relative;
  background: url("/static/images/img-home1.png");
  background-position: center -10%;
  background-size: cover;
  background-attachment: fixed;
}
.home::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.home .content {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(4px);
}
.home .content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.home .content .text {
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.home .content a {
  color: #000;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background: #ffebeb;
  transition: 0.4s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  transform: translateY(20px);
}
.home .content a:hover {
  background: #fcacd1;
}