* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  background: #f2f2f2;
}


/* Navbar */
.navbar {
  height: 70px;
  
}

.container {
  width: 100%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-brand img {
  max-height: 50px;
}

@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    padding: 20px;
  }
}

/* Home */
.home {
  height: 100vh;
  width: 100%;
  position: relative;
  background: url("/static/images/img-home1.png");
  background-position: center -10%;
  background-size: cover;
  background-attachment: fixed;
}
.home::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.home .content {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(4px);
}
.home .content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.home .content .text {
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.home .content a {
  color: #000;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 10px;
  padding: 10px 10px;
  border-radius: 5px;
  background: #ffebeb;
  transition: 0.4s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  transform: translateY(20px);
}
.home .content a:hover {
  background: #fcacd1;
}

/* About */
#about .container{
  padding: 100px 10px;
  font-family: 'YourChosenFont', sans-serif; 
  font-size: 16px; 
}
h2.section-heading {
  font-size: 2.5em; 
}

h4.my-3 {
  font-size: 1.5em; 
}

p.text-muted {
  font-size: 1.2em; 
}

/* Produk */
#produk {
background-color: #e4d1d1a6;
}
.section-heading {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
}
#produk .container{
  max-width: 1100px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 100px 10px;
  margin: auto;
  bottom: 30px;
}
#produk .produk-item {
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
}  
#produk .produk-item .img-fluid {
    height: 20rem; 
    width: 100%;
    object-fit: cover; 
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
#produk .produk-item .produk-link {
  position: relative;
  display: block;
  margin: 0 auto;
}
#produk .produk-item .produk-link .produk-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background:  rgba(252, 172, 209, 0.7);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}
#produk .produk-item .produk-link .produk-hover .produk-hover-content {
  font-size: 1.25rem;
  color: white;
}
#produk .produk-item .produk-link:hover .produk-hover {
  opacity: 1;
}
#produk .produk-item .produk-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
#produk .produk-item .produk-caption .produk-caption-heading {
  font-size: 1.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-bottom: 0;
}
#produk .produk-item .produk-caption .produk-caption-subheading {
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.produk-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}
.produk-modal .modal-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}
.produk-modal .modal-content h2, .produk-modal .modal-content .h2 {
  font-size: 3rem;
  line-height: 3rem;
}
.produk-modal .modal-content p.item-intro {
  font-style: italic;
  margin-bottom: 2rem;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.produk-modal .modal-content p {
  margin-bottom: 2rem;
}
.produk-modal .modal-content ul.list-inline {
  margin-bottom: 2rem;
}
.produk-modal .modal-content img {
  margin-bottom: 2rem;
}
.produk-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
}
.produk-modal .close-modal:hover {
  opacity: 0.3;
}


/* Team */
#team .container{
  margin-top: 40px;
}
.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 100px 10px;
  margin: auto;
  margin-top: 40px;
  bottom: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  text-align: center;
}

.wrapper i {
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #ddd;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  left: -20px;
}

.wrapper i:last-child {
  right: -20px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(100% / 3);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 15px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  width: 90%;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #ddd;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}

.carousel .card .img {
  background: #fcacd1;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}

.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #ddd;
}

.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
  .wrapper i {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}


.btn {
  background-color: #fcacd1;
}

.btn:hover {
  background-color: #e675aa;
}

/* fotter */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-support {
  margin-bottom: 20px;
}

.footer-copyrights {
  text-align: center;
}
.footer-support img {
  max-width: 5rem;
  height: auto;
}
.footer-copyrights img {
  max-width:  10rem;
  height: auto;
}

