  h1 {
    text-align: center;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  input[type="submit"] {
    background-color: #fcacd1;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  input[type="submit"]:hover {
    background-color: #fb6f92;
  }

  .subjudul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    text-align: center;
  }
  
  input[type="submit"] {
    background-color: #fcacd1;
    color: white;
  }

.back{
    background-color: #fcacd1; 

    font-weight: 700; 
    font-size: 20px;
}
  