    /* CSS untuk mengatur tampilan elemen select */
    select.custom-select {
      border: 1px solid #ffffff; /* Warna dan ketebalan border input fields */
      width: 100%;
      padding: 10px;
      margin: 10px 0;
    }
    
    
    
    form {
      max-width: 400px;
      margin: 0 auto;
    }
    
    input[type='submit'] {
      background-color: #fcacd1;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 4px;
      justify-content: center;
    }
    
    .button {
      background-color: #fcacd1;
      text-align: center;
      justify-content: center;
      display: flex;
      justify-content: center;
      border-radius: 4px;
      margin-left: auto;
      margin-right: auto;
    }
    
    
    
    .label{
      font-weight: bold;
    }
    
    
    
    .prediction {
      display: flex;
      visibility: visible;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      margin-top: 10px;
      text-align: center;
    }
    /* background */
    body {
      background-color: #c0e213;
    }
    #form_prediksi { 
      border-width: 1rem;
    }
    
    
    /* tombol prediksi */
    input[type='submit'] {
      background-color: #fcacd1;
      
    }
    input[type='submit']:hover {
      background-color: #f66ec0;
    }
    
    /* tombol back */
    .back {
      background-color: #f6f6f6;
      font-weight: 700;
      font-size: 20px;
    }
    
    
    /* Navbar */
    .navbar {
      height: 60px;
      /* background-color: #fcdfef; */
    }
    
    .jumbotron{
      padding: 3rem 3rem;
      background-color: #fe5cb8;
      background-image: url("/static/images/BG_pink.png");
      background-size: cover;
      background-attachment: fixed;
    }
    
    .navbar-brand img {
      max-height: 40px;
    }
    
    .navbar-text img {
      max-height: 80px;
    }
    
    /* border */
     /* CSS untuk border formulir */
    .border {
      border: 10px solid black; 
      padding: 10px;
    }
    
    /* font */
    * {
      font-family: "Helvetica", sans-serif;
      font-size: 16px;
      /* Properti font lainnya sesuai kebutuhan */
    }
    
    
    
    /* end border */
    
    html {
      scroll-behavior: smooth;
    }
    